.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: pink;
}
.inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: white;
  background-color: crimson;
  border-radius: 20px;

  height: 50vh;
}
.btns {
  display: flex;
  gap: 30px;
}
button {
  padding: 10px;
  font-weight: 600;
}
